
                        /*select_plant.html*/

body {
    background-color: #ffffff;
}

.header {
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Oooh Baby', cursive;
    color: #834e46;
    font-size: 20px;

}
.header a {
    font-size: 60px;
    font-family: 'Oooh Baby', cursive;
    color: #5bab48;
    margin-bottom: 10px;
}
.header h4 {
      margin: 0;
}

.row {
    display: flex;
}

/*checkbox filter*/

.side {
    flex: 40%;
    padding-top: 20px;
}

section {
    padding-left: 10%;
}
section p {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 18px;
    color: #48232d;
    text-align: center;
}
.button{
    padding-left: 35%;
    padding-top: 25px;
}

/*plant objects (picture, name )*/

.main {
    flex: 60%;
    padding: 30px;
    margin: 30px;
    border-radius: 60px;
    border-style: solid;
    border-color: #89c27f;
}

table {
    padding-left: 15px;
}

.footer {
    padding: 20px;
    text-align: center;
}


.card_plant {
    height: 150px;
    width: 150px;

}
.card_plant p {
     font-size: 12px;
     text-align: center;
     font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.pic_plant {
    height: 100px;
    width: 100px;
    padding-left: 25px;
    padding-right: 25px;

}
.pic_plant img {
    object-fit: cover;
}

a {
  text-decoration: none !important;
    color: #48232d;
}

                        /*description_plant.html*/

/*table-content*/

.row_description{
    display: flex;
    border-radius: 60px;
    border-style: solid;
    border-color: #89c27f;
}

.main_card {
    flex: 30%;
}

.main_name {
    text-align: center;
    font-size: 15px;
    color: #834e46;
}

.main_pic {
    padding-left: 80px;
    padding-bottom: 50px;
    height: 350px;
    width: 350px;
}
.main_pic img {
    object-fit: cover;
}

.content {
    flex: 60%;
    padding-top: 60px;
}


/*text-content*/

.description h3 {
    font-size: 20px;
    color: #834e46;
    text-align: center;
}




