body {
    background-color: #ffffff;
}

.header {
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Oooh Baby', cursive;
    color: #834e46;
    font-size: 20px;

}
.header h1 {
    font-size: 60px;
    font-family: 'Oooh Baby', cursive;
    color: #5bab48;
    margin-bottom: 10px;
}
.header h4 {
      margin: 0;
}

.row {
    display: flex;
}

.side {
    flex: 40%;
    padding-top: 20px;
}

.main {
    flex: 60%;
    padding: 30px;
    margin: 30px;
    border-radius: 60px;
    border-style: solid;
    border-color: #89c27f;
}

.footer {
    padding: 20px;
    text-align: center;
}

table {
    padding-left: 15px;
}

.pic_name {
    height: 150px;
    width: 150px;

}
.pic_name p {
     font-size: 12px;
     text-align: center;
     font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
}

.pic_plant {
    height: 100px;
    width: 100px;
    padding-left: 25px;
    padding-right: 25px;

}
.pic_plant img {
    object-fit: cover;
}

section p {
    font-family: "Roboto", "Lucida Grande", Verdana, Arial, sans-serif;
    font-size: 18px;
    color: #48232d;
    text-align: center;
}

section {
    padding-left: 10%;
}

.button{
    padding-left: 35%;
    padding-top: 25px;
}

#number {
  width: 10em;
}

#white {
    background-color: white;
}
#blue {
    background-color: blue;
}
#yellow {
    background-color: yellow;
}
#green {
    background-color: green;
}
#red {
    background-color: red;
}
#orange {
    background-color: orange;
}
#color {
    background-color: white;
}
#pink {
    background-color: pink;
}
#dark-blue {
    background-color: darkblue;
}
#perl {
    background-color: purple;
}
#black {
    background-color: black;
}

.pic {
    padding-left: 80px;
    padding-bottom: 50px;
    height: 350px;
    width: 350px;
}
.pic img {
    object-fit: cover;
}

.one {
    flex: 30%;
}
.two {
    flex: 60%;
    padding-top: 60px;
}

.row1{
    display: flex;
    border-radius: 60px;
    border-style: solid;
    border-color: #89c27f;
}

.name {
    text-align: center;
    font-size: 15px;
    color: #834e46;
}

.description h3 {
    font-size: 20px;
    color: #834e46;
    text-align: center;
}

a {
  text-decoration: none !important;
    color: #48232d;
}