{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,cyrillic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Viva Flower Finder{% endblock %}</title>
</head>

<body>
<div class="header">
  <h1>{% block h1 %}Viva Flower Finder{% endblock %}</h1>
  <h4>{% block h4 %}Viva Flower Finder - will help you choose a houseplant according to your request!{% endblock %}</h4>
</div>
    <div id="content">
        {% block content %}

		{% endblock %}
    </div>

</body>
</html>