{% extends "finder/base.html" %}
{% block title %}Viva Flower Finder{% endblock %}

{% block content %}
<div class="pic">
           <img src="{{'static/img/'}}{{name.name_of_plant}}{{'.jpg'}}" width="500px" height="500px">
</div>
<div class="name">
     <p>{{name.short_name}}</p>
</div>
<table>
    <tr>
        <td></td>
        <td></td>
    </tr>
        <tr>
        <td></td>
        <td></td>
    </tr>
        <tr>
        <td></td>
        <td></td>
    </tr>
        <tr>
        <td></td>
        <td></td>
    </tr>
</table>

<div class="content">

</div>
{% endblock %}