
{% extends "finder/base.html" %}
{% block title %}Viva Flower Finder{% endblock %}

{% block content %}

<div class="row">
  <div class="side">
      <section>
          <table>
          <div class="leaf_color">
              <tr>
               <th rowspan="4"> <p>{% block p %}Цвета листьев</p></th>
                  <th id="white"> </th>
                  <th id="blue"></th>
                  <th id="yellow"></th>

                </tr>
              <tr>
              		<th id="red"></th>
		            <th id="orange"></th>
		            <th id="color"></th>

              </tr>
              <tr>
              		<th id="dark-blue"></th>
		            <th id="perl"></th>
		            <th id="black"></th>
              </tr>
                    <tr>
                        <th id="green"></th>
                        <th id="pink"></th>
              </tr>
          </div>
          <div class="min_height">
               <tr>
               <th><p>Минимальная высота (от)</p></th>
                   <th colspan="3"> <input type="number" id="number" ></th>
                   <th></th>
                   <th></th>
                   <th></th>
              </tr>
          </div>
          <div class="max_height">
              <tr>
               <th><p>Максимальная высота (до)</p></th>
                   <th colspan="3"> <input type="number" id="number" ></th>
                   <th></th>
                   <th></th>
                   <th></th>
              </tr>
          </div>
          <div class="level_of_care">
              <tr>
                  <th><p>Сложность ухода</p></th>
                <th><input type="checkbox" id="raz"/><label for="raz">1</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">2</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">3</label></th>
              </tr>
          </div>
          <div class="light_level">
               <tr>
               <th><p>Освещенность</p>
                <th><input type="checkbox" id="raz"/><label for="raz">1</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">2</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">3</label></th>
              </tr>
          </div>
          <div class="irrigation_level">
               <tr>
               <th><p>Полив</p>
                <th><input type="checkbox" id="raz"/><label for="raz">1</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">2</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">3</label></th>
              </tr>
          </div>
          <div class="temperature">
               <tr>
               <th><p>Температура содержания </p>
                <th><input type="checkbox" id="raz"/><label for="raz">1</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">2</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">3</label></th>
              </tr>
          </div>
          <div class="humidity">
               <tr>
               <th><p>Влажность воздуха</p>
                <th><input type="checkbox" id="raz"/><label for="raz">1</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">2</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">3</label></th>
              </tr>
          </div>
          <div class="feeding">
               <tr>
               <th><p>Частота удобрения{% endblock %}</p>
                <th><input type="checkbox" id="raz"/><label for="raz">1</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">2</label></th>
                <th><input type="checkbox" id="raz"/><label for="raz">3</label></th>
              </tr>
          </div>
               </table>

      </section>

  </div>
  <div class="main">
      <table>
    {% for name in page_obj %}
    {% cycle '<tr>' '' '' '' '' %}
      <td> <div class="pic_plant">
          <img src="{{'static/img/'}}{{name.name_of_plant}}{{'.jpg'}}" width="100px" height="100px">

          <p>{{name.short_name}}</p>
          </div>
      </td>
    {% cycle '' '' '' '' '</tr>' %}
  {% endfor %}
     </table>
  </div>
</div>
<div class="footer">
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 1 </a>
            <a href="?page={{ page_obj.previous_page_number }}">< Назад</a>
        {% endif %}

        <span class="current">
            стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед ></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}