
{% extends "finder/base.html" %}
{% block title %}Viva Flower Finder{% endblock %}

{% block content %}

<div class="row">
  <div class="side">
      <section>
          <label>level_of_care</label>
        <form action="/level_of_care/" method="post">
            {% csrf_token %}
            <label for="box1"><input type="radio" name="level_of_care" value="1" id="box1">1</label>
            <label for="box2"><input type="radio" name="level_of_care" value="2" id="box2">2</label>
            <label for="box3"><input type="radio" name="level_of_care" value="3" id="box3">3</label>
            {{ form.as_p }}
            <input type="submit" value="OK">
        </form>
      </section>
  </div>

  <div class="main">
      <table>
    {% for name in page_obj %}
    {% cycle '<tr>' '' '' '' '' %}
      <td> <div class="pic_plant">
          <img src="{{'static/img/'}}{{name.name_of_plant}}{{'.jpg'}}" width="100px" height="100px">

          <p>{{name.short_name}}</p>
          </div>
      </td>
    {% cycle '' '' '' '' '</tr>' %}
  {% endfor %}
     </table>
  </div>
</div>
<div class="footer">
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; 1 </a>
            <a href="?page={{ page_obj.previous_page_number }}">< Назад</a>
        {% endif %}

        <span class="current">
            стр. {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Вперед ></a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
</div>
{% endblock %}